<div class="logo-container">
    <img src="{{ .Site.BaseUrl }}/img/logo_small.png" />
</div>

<ul class="links">
    <li class="header">Blog</li>
    <li><a href="/">Home</a></li>
    <li><a href="/archive">Archive</a></li>
    <li><a href="">About</a></li>
    <br><br>

    <li class="header">Code</li>
    <li><a href="">Originator</a></li>
    <li><a href="">Cream</a></li>
    <li><a href="">Ash</a></li>
</ul>

<ul class="social">
    <a href="https://github.com/BrandonRomano"><i class="fa fa-github-square"></i></a>
    <a href="https://twitter.com/BrandonRRomano"><i class="fa fa-twitter-square"></i></a>
</ul>
