header
    background-color: $blue
    padding: $header-padding 0

    img
        height: $header-image-height
        margin: 0 auto
        display: block

    h2
        margin: 0 auto
        text-align: center
        font-weight: $font-weight-medium
        font-size: $font-size-small
        margin-top: $font-size-small
        color: $dark-gray

