header
    background-color: $blue
    padding: $header-padding 0

    img
        height: $header-image-height
        margin: 0 auto
        display: block

    h2
        margin: 0 auto
        text-align: center
        font-weight: $font-weight-medium
        font-size: $font-size-small
        margin-top: $font-size-small
        color: $dark-gray

    nav
        display: none
        float: right
        padding: 0px
        line-height: $logo-height

        a
            display: inline-block
            color: $dark-gray
            text-decoration: none
            font-size: $font-size-medium
            font-weight: $font-weight-medium

            &:not(:last-child):after
                content: " •"

@media screen and (max-width: $mobile-breakpoint)

    header
        padding: $logo-padding 0

        h2
            display: none

        img
            height: $logo-height
            display: inline-block
            margin-left: 20px
            margin-right: 0px

        nav
            display: inline-block
            line-height: $logo-height
            margin-right: 20px

