// Mobile
$mobile-breakpoint = 800px;

// Nav
$sticky-nav-width = 250px
$logo-height = 60px
$logo-padding = 6px
$logo-transition = .4s
$nav-lr-padding = 30px
$nav-tb-padding = 20px
$nav-li-spacing = 10px

// Global
$link-transition = .3s
$code-padding = .75em

// Main Container
$main-lr-padding = 50px
$main-tb-padding = 35px

// Header
$header-padding = 50px
$header-image-height = 80px
$header-mobile-padding = 20px
$header-mobile-image-height = 40px
