body, html, .contain
    height: 100%

main
    display: block
    margin-left: $sticky-nav-width
    padding-left: $main-lr-padding
    padding-right: $main-lr-padding
    padding-top: $main-tb-padding
    padding-bottom: $main-tb-padding

