transition(length)
    -webkit-transition: all length ease
    -moz-transition: all length ease
    -o-transition: all length ease
    -ms-transition: all length ease
    transition: all length ease

