// Font Weights
$font-weight-light = 400
$font-weight-medium = 500
$font-weight-heavy = 600

// General Font Sizes
$font-size-small = 1em
$font-size-medium = 1.25em
$font-size-medium-large = 1.5em
$font-size-large = 1.75em
$font-size-xlarge = 2.25em

// Specific Font Sizes
$font-size-p = 1.25em
$font-size-h6 = 1.25em
$font-size-h5 = 1.5em
$font-size-h4 = 1.75em
$font-size-h3 = 2em
$font-size-h2 = 2.25em
$font-size-h1 = 2.5em

// Font Family
raleway()
    font-family: 'Raleway', sans-serif;

h1, h2, h3, h4, h5, h6, a, p, li, span
    text-rendering: optimizeLegibility
    color: $dark-gray
    raleway()

h1, h2, h3, h4, h5, h6
    font-weight: $font-weight-medium
    margin-top: 20px
    margin-bottom: 10px

h1
    font-size: $font-size-h1

h2
    font-size: $font-size-h2

h3
    font-size: $font-size-h3

h4
    font-size: $font-size-h4

h5
    font-size: $font-size-h5

h6
    font-size: $font-size-h6

p
    font-size: $font-size-p
    line-height: 1.5em
    letter-spacing: .1px

    code
        font-size: 85%
        padding: .25em .5em
        border-radius: 3px
        color: $blue
        background-color: $code-background

