header
    background-color: $blue
    padding: $header-padding 0

    &.secondary
        display: none

    img
        height: $header-image-height
        margin: 0 auto

        &#logo-small
            display: block

        &#logo-square
            display: none

    h2
        margin: 0 auto
        text-align: center
        font-weight: $font-weight-medium
        font-size: $font-size-small
        margin-top: $font-size-small
        color: $white

    nav
        display: none
        float: right
        padding: 0px
        line-height: $logo-height

        a
            display: inline-block
            color: $dark-gray
            text-decoration: none
            font-size: $font-size-medium
            font-weight: $font-weight-medium

            &:not(:last-child):after
                padding: 0px $header-mobile-nav-padding
                content: " \2022"

@media screen and (max-width: $mobile-breakpoint)

    header
        padding: $logo-padding 0

        &.secondary
            display: block

        h2
            display: none

        img
            height: $logo-height
            display: inline-block
            margin-left: $header-mobile-padding
            margin-right: 0px

            &#logo-small
                display: none

            &#logo-square
                display: block

        nav
            display: inline-block
            line-height: $logo-height
            margin-right: $header-mobile-padding

            a
                color: $white
