main.code

    .title
        display: inline-block
        margin-right: 12px

    .source-link
        font-size: $font-size-xlarge
        display: inline-block
        transition($link-transition)

        &:hover
            transition($link-transition)
            color: $blue
