main.tags

    .all-tags
        text-decoration: none
        font-size: $font-size-medium
        font-weight: $font-weight-medium
        color: $dark-gray
        raleway()

        &:hover
            transition($link-transition)
            color: $blue

