<div id="disqus_thread"></div>
<script type="text/javascript">
    // No Disqus on localhost
    if (window.location.hostname == "localhost")
    {
        return;
    }

    // Injecting Disqus
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//digitalcitadel.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

