{{ partial "header/header-primary.html" . }}

<main>
    <div class="mod-titled-list">
        <h1>Recent Posts</h1>
        <ul>
            {{ range first 10 (where .Data.Pages "Section" "post") }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    <span>&#8226;</span>
                    <small>{{ .Date.Format "Jan 2, 2006" }}</small>
                </li>
            {{ end }}
        </ul>

        <a href="/post" class="view-more">View all posts &raquo;</a>
    </div>
</main>

{{ partial "footer.html" . }}

