{{ partial "header/header-secondary.html" . }}

{{ $data := .Data }}

<main class="terms">
    <div class="mod-post-list">
        <h1>{{ .Title }}</h1>
        <ul>
            {{ range $key, $value := .Data.Terms }}
                <li>
                    <a href="/{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }}</a>
                    <span>&#8226;</span>
                    <small>{{ len $value }}</small>
                </li>
            {{ end }}
        </ul>
    </div>
</main>

{{ partial "footer.html" . }}

