{{ partial "header/header-secondary.html" . }}

<main class="tags">
    <div class="mod-titled-list">
        <h1>{{ .Title }}</h1>
        <ul>
            {{ range .Data.Pages }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    <span>&#8226;</span>
                    <small>{{ .Date.Format "Jan 2, 2006" }}</small>
                </li>
            {{ end }}
        </ul>
    </div>

    <a href="/tags" class="all-tags">&laquo; View all tags</a>
</main>

{{ partial "footer.html" . }}

