<!DOCTYPE html>
<html>
    <head>
        <meta property="og:site_name" content="Digital Citadel">

        <title>{{ .Site.Title }} - {{ .Title }}</title>
        <meta name="title" content="{{ .Title }}">
        <meta property="og:title" content="{{ .Title }}">
        <meta name="twitter:title" content="{{ .Title }}">

        <meta property="og:image" content="{{ .Site.BaseUrl }}/img/digital_citadel.png">
        <meta name="twitter:image" content="{{ .Site.BaseUrl }}/img/digital_citadel.png">

        <meta name="description" content="{{ .Description }}">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 maximum-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Raleway:500,600,400' rel='stylesheet' type='text/css'>
        {{ partial "includes/css-includes.html" }}
    </head>

    <body>

