pre
    background-color: $code-background
    padding: $code-padding

    span
        font-family Menlo, Monaco, Consolas, monospace
        line-height 1.2

    code
        font-family Menlo, Monaco, Consolas, monospace
        display block
        color $code-black
        line-height 1.2
        padding 0px

.hljs-attribute
    color: $code-yellow

.hljs-keyword
    color: $code-purple

.hljs-title, .hljs-sub
    color: $code-blue

.hljs-string, .hljs-value
    color: $code-green

.hljs-params, .hljs-number, .hljs-literal
    color: $code-orange

.hljs-regexp, .hljs-built_in, .hljs-constant,
.hljs-variable, .hljs-doctype, .hljs-tag,
.hljs-pseudo
    color: $code-red

.hljs-comment
    color: $code-gray

.hljs-typename
    color: $code-aqua

