code.language-go

    .hljs-comment
        color: $code-gray

    .hljs-string
        color: $code-green

    .hljs-number
        color: $code-orange

    .hljs-keyword
        color: $code-purple

    .hljs-constant, .hljs-built_in
        color: $code-red

    .hljs-typename
        color: $code-blue

